<link rel="stylesheet" href="css/service_detail.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/dich-vu">Dịch vụ</a></li>
                <li><a href="/dich-vu/danh-muc">Dịch vụ bồi thường bảo hiểm xe cơ giới</a></li>
                <li><span>Doanh nghiệp bảo hiểm...</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-service-detail">
        <div class="wrapper">
            <h1 class="detail-title">Doanh nghiệp bảo hiểm căn cứ vào giấy xét nghiệp nồng độ cồn xét nghiệm vào ngày
                hôm sau của vụ tai nạn để từ chối bồi thường liệu có đúng?</h1>
            <div class="detail-content">
                <p class="detail-description">Được sự tin tưởng của khách hàng Vics-Corp đã đại diện để giải quyết quyền
                    lợi bảo hiểm cho xe ô tô của khách hàng gặp tổn thất vào tháng 04 năm 2021. Điều đáng nói trong vụ
                    việc là hồ sơ đã đầy đủ, người mua bảo hiểm đã cung cấp tất cả các giấy tờ theo yêu cầu cho doanh
                    nghiệp bảo hiểm, nhưng thời gian giải quyết của doanh nghiệp bảo hiểm lại kéo dài đến hơn 05 tháng
                    trời. Nhưng kết cục cho quá trình giải quyết lại làm khách hàng thất vọng. Doanh nghiệp bảo hiểm ban
                    đầu đã đồng ý bồi thường 70% giá trị sửa chữa và các bên làm việc để đưa xe vào gara sửa chữa, nhưng
                    cuối cùng lại từ chối bảo hiểm. Làm người mua bảo hiểm xe không có mà đi, đến giờ thì số tiền sửa
                    chữa quá lớn không đủ tài chính để trả cho gara để lấy xe. Doanh nghiệp bảo hiểm làm người mua bảo
                    hiểm dở khóc dở cười. Mà căn cứ từ chối cũng rất vô lý, căn cứ vào giấy xét nghiệp nồng độ cồn của
                    ngày hôm sau, sau khi tai nạn xảy ra. Quyết định 320/QĐ-BYT ngày 23/01/2014 quy định trị số nồng độ
                    cồn của người bình thường là &lt;10,09 mmol/l, của chủ xe tai nạn là 3,3 mmol/l trong giới hạn cho
                    phép vậy mà doanh nghiệp bảo hiểm từ chối.</p>
                <ul class="list-image">
                    <li><img src="img/service/detail_img_01.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_02.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_03.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_04.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_05.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_06.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_07.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_08.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_09.jpg" alt=""></li>
                    <li><img src="img/service/detail_img_10.jpg" alt=""></li>
                </ul>
                <div class="btn-more"><a href="#">Xem thêm</a></div>
            </div>
        </div>
    </section>
    <section class="section-detail-slider">
        <div class="wrapper">
            <h2 class="slider-title">Dịch vụ liên quan</h2>
            <div class="swiper js-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
</main>