<link rel="stylesheet" href="css/about.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/ve-chung-toi">Về chúng tôi</a></li>
                <li><span>Giới thiệu về web:V-Bảo hiểm</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-about-detail">
        <div class="wrapper">
            <h1 class="page-title is-black">Giới thiệu về web:V-Bảo hiểm</h1>
            <div class="wrapper-inner">
                <div class="detail-content">
                    <p>Web so sánh bảo hiểm V-Bảo hiểm ra đời với mục đích đem đến cho người dùng cái nhìn tổng quan
                        nhất về các sản phẩm bảo hiểm trên thị trường hiện nay tại Việt Nam như bảo hiểm vật chất xe cơ
                        giới, bảo hiểm sức khỏe, bảo hiểm nhân thọ. Với mục tiêu giúp người dùng trở thành những người
                        mua bảo hiểm thông thái nhất, nhà tư vấn bảo hiểm uy tín hay những cá nhân tổ chức có mong muốn
                        tìm hiểu kiến thức bảo hiểm. Chúng tôi đem tới người dùng nền tảng so sánh bảo hiểm với đầy đủ
                        các tính năng vượt trội giúp người dùng có thể dễ dàng hiểu và chọn được sản phẩm phù hợp với
                        mong muốn, nhu cầu của mình.</p>
                    <p>Giúp khách hàng tiết kiệm thời gian tìm hiểu, so sánh và lựa chọn sản phẩm bảo hiểm phù hợp; nâng
                        cao sự hiểu biết về các sản phẩm bảo hiểm hiện nay trên thị trường Việt nam.</p>
                    <p>V- Bảo hiểm: website so sánh bảo hiểm đầy đủ, toàn diện trên các lĩnh vực bảo hiểm: nhân thọ, vật
                        chất xe cơ giới, sức khỏe… của tất cả 18 công ty bảo hiểm nhân thọ và 30 công ty bảo hiểm phi
                        nhân thọ.</p>
                    <p>V-Bảo hiểm xây dựng trên nền tảng công nghệ hiện đại bậc nhất hiện nay với các tính năng ưu việt,
                        luôn hướng đến sự tiện ích nhất cho người dùng.</p>
                    <p>Bên cạnh đó, những thông tin chúng tôi cung cấp luôn được cập nhật đầy đủ, chính xác, đã qua kiểm
                        chứng bởi các chuyên gia bảo hiểm hàng đầu Việt Nam. Hãy cùng trải nghiệm những điều tuyệt vời
                        nhất tại V-Bảo hiểm!</p>
                    <div class="detail-block">
                        <div class="block-content">
                            <h2 class="block-title">VỀ ĐƠN VỊ SỞ HỮU VICS-CORP</h2>
                            <div class="block-description">
                                <p>Web so sánh V-Bảo hiểm thuộc sở hữu của Công ty Cổ phần Tư vấn Dịch vụ Bảo hiểm Việt
                                    Nam<br>(VICS-CORP).</p>
                                <p>VICS-CORP là đơn vị kinh doanh chủ yếu trong các lĩnh vực:</p>
                                <p>Tư vấn về bảo hiểm;<br>Dịch vụ giải quyết bồi thường Bảo hiểm;<br>Tranh tụng Bảo
                                    hiểm;<br>Đào tạo về Bảo hiểm…</p>
                            </div>
                        </div>
                        <div class="block-image"><img src="img/about/detail_img_01.jpg"
                                alt="VỀ ĐƠN VỊ SỞ HỮU VICS-CORP"></div>
                    </div>
                    <div class="detail-image"><img src="img/about/detail_img_02.jpg" alt="VỀ ĐƠN VỊ SỞ HỮU VICS-CORP">
                    </div>
                    <p>Với các thành viên là Pháp chế Doanh nghiệp Bảo hiểm, Giám định bồi thường Doanh nghiệp Bảo hiểm,
                        Luật sư có kinh nghiệm trong lĩnh vực Ngân hàng – Bảo Hiểm, Giám định viên tại các Công ty Giám
                        định,..vv</p>
                    <p>VICS-CORP luôn nỗ lực, phấn đấu trở thành nhà Tư vấn dịch vụ Bảo hiểm hàng đầu Việt Nam.
                        VICS-CORP muốn tạo ra một thương hiệu là Công ty tiên phong trong lĩnh vực Dịch vụ bảo hiểm.</p>
                    <p>VICS-CORP mang sứ mệnh phục vụ cho mọi người dân Việt Nam – Nâng cao kiến thức pháp luật về bảo
                        hiểm cho người dân là một trong những sứ mệnh cao cả của các thành viên Công ty.<br>VICS-CORP
                        tạo sự khác biệt với đội ngũ nhân viên chuyên nghiệp nhất, trách nhiệm nhất, có đầy đủ kiến thức
                        cơ bản và chuyên sâu nhất về bảo hiểm. Tạo dựng sự tin tưởng và chính sách nhất cho khách hàng.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>