<link rel="stylesheet" href="css/news.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="tin-tuc-kien-thuc">Tin tức - Kiến thức</a></li>
                <li><span>Các câu hỏi thường gặp</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-news-questions">
        <div class="wrapper">
            <h1 class="page-title is-black">Các câu hỏi thường gặp</h1>
            <div class="faq-block">
                <h2 class="block-question">Phạm vi điều chỉnh Luật Kinh doanh BH? Khách hàng của công ty BH có thuộc
                    phạm vi điều chỉnh của Luật Kinh doanh BH không?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Người có nhu cầu BH có được mua BH của doanh nghiệp BH không hoạt động tại
                    Việt Nam hay không?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Quyền của DNBH khi thực hiện hợp đồng BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Nghĩa vụ của DNBH khi thực hiện hợp đồng BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Quyền lợi của người mua BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Nghĩa vụ của người mua BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Trách nhiệm cung cấp thông tin trung thực và đầy đủ của DNBH với khách hàng
                    tham gia BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Trách nhiệm cung cấp thông tin trung thực và đầy đủ của khách hàng tham gia
                    BH với DNBH</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Người có nhu cầu BH có được mua BH của doanh nghiệp BH không hoạt động tại
                    Việt Nam hay không?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Quyền của DNBH khi thực hiện hợp đồng BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Nghĩa vụ của DNBH khi thực hiện hợp đồng BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Quyền lợi của người mua BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Nghĩa vụ của người mua BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Trách nhiệm cung cấp thông tin trung thực và đầy đủ của DNBH với khách hàng
                    tham gia BH?</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Trách nhiệm cung cấp thông tin trung thực và đầy đủ của khách hàng tham gia
                    BH với DNBH</h2>
                <div class="block-answer">
                    <p>– Luật Kinh doanh BH có phạm vi điều chỉnh bao gồm các tổ chức và hoạt động kinh doanh BH (DNBH,
                        DN Môi giới BH, đại lý BH) và các tổ chức cá nhân tham gia BH nhằm đảm bảo quyền nghĩa vụ và lợi
                        ích hợp pháp chính đáng của các đối tượng trên (Điều 1. Luật Kinh doanh BH quy định). – Người
                        tham gia BH (Khách hàng) là một trong các đối tượng được điều chỉnh của Luật KDBH.</p>
                </div>
            </div>
            <ul class="pagination">
                <li><a class="prev trans" href="#"></a></li>
                <li><a class="trans" href="#">1</a></li>
                <li><a class="trans" href="#">2</a></li>
                <li><a class="trans" href="#">3</a></li>
                <li><a class="trans" href="#">4</a></li>
                <li><a class="trans" href="#">5</a></li>
                <li><span>...</span></li>
                <li><a class="next trans" href="#"></a></li>
            </ul>
        </div>
    </section>
</main>