<link rel="stylesheet" href="css/product.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="san-pham-bao-hiem">Sản phẩm bảo hiểm</a></li>
                <li><span>Sản phẩm bảo hiểm vật chất xe</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-product-detail">
        <div class="wrapper">
            <h1 class="page-title is-black">Sản phẩm bảo hiểm vật chất xe</h1>
            <div class="detail-content">
                <div class="detail-image"><img src="img/product/detail_img_01.jpg" alt="Sản phẩm bảo hiểm vật chất xe">
                </div>
            </div>
            <ul class="list-btn">
                <li><a class="trans" href="#">Liên hệ tư vấn viên</a></li>
                <li><a class="trans is-telephone" href="#"></a></li>
            </ul>
        </div>
    </section>
</main>