.menu-block .post-info {
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.menu-block .post-desc {
    font-size  : 13px;
    line-height: 20px;
    margin-left: 13px;
    color      : #75818F;
}
.menu-block .content-block.current{
    overflow: scroll;
    width: 100%;
    height: 700px;
}