<link rel="stylesheet" href="css/luyen-thi.css">
{{!-- --}}

<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/dao-tao">Đào tạo</a></li>
                <li><span>Luyện thi chứng chỉ</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-luyen-thi">
        <div class="wrapper">
            <h1 class="page-title">Luyện thi chứng chỉ</h1>
        </div>
        <div class="wrapper">
            <div class="form-wrapper">
                <ul class="tab-list">
                    <li class="tab-item tab-active" onclick="chooseTab(0)">
                        <a>Chứng chỉ phụ trợ bảo hiểm</a>
                    </li>
                    <li class="tab-item" onclick="chooseTab(1)">
                        <a>Chứng chỉ đại lí bảo hiểm</a>
                    </li>
                    <li class="tab-item" onclick="chooseTab(2)">
                        <a>Phi nhân thọ cơ bản</a>
                    </li>
                </ul>
                <div class="content">
                    <p class="content__title">Luyen thi chung chi 1</p>
                    <div class="content-tab">
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                    </div>
                    <div class="view-all">
                        <a href="/luyen-thi-tat-ca">Xem tất cả</a>
                    </div>
                </div>
                <div class="content hidden">
                    <p class="content__title">Luyen thi chung chi 2</p>
                    <div class="content-tab">
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                    </div>
                    <div class="view-all">
                        <a href="/luyen-thi-tat-ca">Xem tất cả</a>
                    </div>
                </div>
                <div class="content hidden">
                    <p class="content__title">Luyen thi chung chi 3</p>
                    <div class="content-tab">
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room" href="/bai-thi">Vào thi</a>
                        </div>
                    </div>
                    <div class="view-all">
                        <a href="/luyen-thi-tat-ca">Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div id="myModal" class="modal">
            <div class="modal-content">
                <p class="modal-notification">
                    Thông báo <span class="close">&times;</span>
                </p>
                <p class="modal-text">Bạn không có quyền truy cập</p>
                <p class="modal-btn">
                    <a class="modal-contact" href="/lien-he">Liên
                        hệ</a>
                    <a class="closeModal close">Thoát</a>
                </p>
            </div>
        </div> --}}
    </section>
</main>
<script>
    function chooseTab(id) {
        var item = document.querySelectorAll(".tab-item");
        var content = document.querySelectorAll(".content");
        for (let index = 0; index < content.length; index++) {
            if (index == id) {
                content[index].classList.remove("hidden");
                item[index].classList.add("tab-active");
            } else {
                if (!content[index].classList.contains("hidden")) {
                    content[index].classList.add("hidden");
                }
                if (item[index].classList.contains("tab-active")) {
                    item[index].classList.remove("tab-active");
                }
            }
        }
    }
</script>