<link rel="stylesheet" href="css/news.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/tin-tuc-kien-thuc">Tin tức - Kiến thức</a></li>
                <li><span>Kiến thức</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-news">
        <div class="wrapper">
            <h1 class="page-title is-black">Kiến thức</h1>
            <ul class="list-items">
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_04.jpg"
                            alt="Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ</h3><a
                            class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_05.jpg"
                            alt="Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem</h3><a
                            class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_06.jpg"
                            alt="Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại website Vbaohiem"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại
                            website Vbaohiem</h3><a class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_04.jpg"
                            alt="Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ</h3><a
                            class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_05.jpg"
                            alt="Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem</h3><a
                            class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_06.jpg"
                            alt="Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại website Vbaohiem"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại
                            website Vbaohiem</h3><a class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_04.jpg"
                            alt="Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ</h3><a
                            class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_05.jpg"
                            alt="Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem</h3><a
                            class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li class="news-item">
                    <div class="item-image"><img src="img/news/news_img_06.jpg"
                            alt="Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại website Vbaohiem"></div>
                    <div class="item-description">
                        <h3 class="item-title is-center">Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại
                            website Vbaohiem</h3><a class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
            </ul>
            <ul class="pagination">
                <li><a class="prev trans" href="#"></a></li>
                <li><a class="trans" href="#">1</a></li>
                <li><a class="trans" href="#">2</a></li>
                <li><a class="trans" href="#">3</a></li>
                <li><a class="trans" href="#">4</a></li>
                <li><a class="trans" href="#">5</a></li>
                <li><span>...</span></li>
                <li><a class="next trans" href="#"></a></li>
            </ul>
        </div>
    </section>
</main>