<link rel="stylesheet" href="css/news.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/tin-tuc-kien-thuc">Tin tức - Kiến thức</a></li>
                <li><span>Đào tạo bảo hiểm</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-news-train">
        <div class="wrapper">
            <h1 class="page-title is-black">Đào tạo bảo hiểm</h1>
            <p class="train-text">VICS - CORP tự hào là đơn vị tiên phong tổ chức các khoá đào tạo phụ trợ bảo hiểm nhằm
                nâng cao chất lượng nguồn nhân lực của thị trường bảo hiểm Việt Nam. Ngoài các kiến thức chuyên môn cơ
                bản, các chương trình đào tạo nhắm tới mục tiêu kết nối những kinh nghiệm thực tế thị trường, có tính
                ứng dụng cao để các học viên có thể áp dụng ngay vào trong công việc hàng ngày.</p>
            <ul class="trans-list">
                <li>
                    <div class="item-image"><img src="img/news/train_img_01.jpg"
                            alt="Khóa học luyện thi chứng chỉ phụ trợ bảo hiểm"></div>
                    <div class="item-description">
                        <h2 class="item-title">Khóa học luyện thi chứng chỉ phụ trợ bảo hiểm</h2><a class="primary-btn"
                            href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li>
                    <div class="item-image"><img src="img/news/train_img_02.jpg" alt="Bản án bảo hiểm"></div>
                    <div class="item-description">
                        <h2 class="item-title">Bản án bảo hiểm</h2><a class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
                <li>
                    <div class="item-image"><img src="img/news/train_img_03.jpg" alt="Tranh chấp bảo hiểm"></div>
                    <div class="item-description">
                        <h2 class="item-title">Tranh chấp bảo hiểm</h2><a class="primary-btn" href="#">Xem chi tiết</a>
                    </div>
                </li>
            </ul>
            <div class="train-content">
                <div class="content-image"><img src="img/news/train_img.jpg" alt=""></div>
                <div class="content-description">
                    <p>Các khóa học tổ chức được các học viên đánh giá cao bởi tính thực tiễn trong các bài giảng do các
                        chuyên gia kinh nghiệm lâu năm trong ngành giảng dạy. Ngoài việc thu hoạch được nhiều kiến thức
                        bổ ích, ứng dụng thực tế cao, các khóa học sẽ hỗ trợ học viên ôn luyện và thi đạt các chứng chỉ
                        bảo hiểm cấp bởi các trung tâm đào tạo có uy tín và được công nhận rộng rãi trong và ngoài nước.
                        Các khóa học tổ chức được các học viên đánh giá cao bởi tính thực tiễn trong các bài giảng do
                        các chuyên gia kinh nghiệm lâu năm trong ngành giảng dạy. Ngoài việc thu hoạch được nhiều kiến
                        thức bổ ích, ứng dụng thực tế cao, các khóa học sẽ hỗ trợ học viên ôn luyện và thi đạt các chứng
                        chỉ bảo hiểm cấp bởi các trung tâm đào tạo có uy tín và được công nhận rộng rãi trong và ngoài
                        nước.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-register-common">
        <div class="wrapper">
            <h2 class="register-title">ĐĂNG KÝ NHẬN THÔNG TIN KHÓA HỌC</h2>
            <p class="register-text">Thông tin về các khóa học chuyên sâu bảo hiểm và các kỳ tuyển sinh sẽ được chúng
                tôi cập nhật thường xuyên.</p>
            <form class="form-register">
                <div class="form-row">
                    <input class="form-input" type="text" placeholder="Họ tên">
                </div>
                <div class="form-row">
                    <input class="form-input" type="text" placeholder="Email">
                </div>
                <div class="form-row">
                    <input class="form-input" type="text" placeholder="Số điện thoại">
                </div>
                <div class="form-row">
                    <textarea class="form-input is-textarea" type="text" placeholder="Lời nhắn"></textarea>
                </div>
                <div class="form-row">
                    <button class="form-submit primary-btn" type="submit">Gửi yêu cầu</button>
                </div>
            </form>
        </div>
    </section>
</main>