<link rel="stylesheet" href="">
{{!-- --}}<link rel="stylesheet" href="css/news.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/tin-tuc-kien-thuc">Tin tức - Kiến thức</a></li>
                <li><span>Giải thích thuật ngữ</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-news-questions">
        <div class="wrapper">
            <h1 class="page-title is-black">Giải thích thuật ngữ</h1>
            <div class="questions-search">
                <input class="search-input" type="text" placeholder="Tìm kiếm">
                <button class="search-submit" type="submit"></button>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bác sỹ</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bàn giao (trong bảo hiểm bắt buộc trong hoạt động đầu tư xây dựng)</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảng quyền lợi bảo hiểm/ Bảng minh họa quyền lợi bảo hiểm</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Báo cáo bán hàng</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Báo cáo quyết toán thường kỳ</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm bắt buộc</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm bệnh nan y</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm các khoản phải thu</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm chết vì tai nạn</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm dài hạn</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm hỗn hợp</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm nhân thọ</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm phát sinh hiệu lực trước</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="block-question">Bảo hiểm phi nhân thọ</h2>
                <div class="block-answer">
                    <p>là người có bằng cấp chuyên môn y khoa được cơ quan có thẩm quyền cấp phép hoặc thừa nhận được
                        hành nghề y hợp pháp trong phạm vi giấy phép theo pháp luật của nước sở tại nơi Người được bảo
                        hiểm tiến hành việc khám và điều trị. Bác sĩ không được đồng thời là người thụ hưởng, vợ/chồng,
                        cha/mẹ, con, anh chị em ruột của Người được bảo hiểm/Bên mua bảo hiểm.</p>
                </div>
            </div>
            <ul class="pagination">
                <li><a class="prev trans" href="#"></a></li>
                <li><a class="trans" href="#">1</a></li>
                <li><a class="trans" href="#">2</a></li>
                <li><a class="trans" href="#">3</a></li>
                <li><a class="trans" href="#">4</a></li>
                <li><a class="trans" href="#">5</a></li>
                <li><span>...</span></li>
                <li><a class="next trans" href="#"></a></li>
            </ul>
        </div>
    </section>
</main>