<link rel="stylesheet" href="css/news.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><span>Tin tức - Kiến thức</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-news">
        <div class="wrapper">
            <h1 class="page-title">Tin tức - Kiến thức</h1>
            <div class="news-block">
                <h2 class="block-title">Tin tức</h2>
                <ul class="list-items">
                    <li class="news-item">
                        <div class="item-image"><img src="img/news/news_img_01.jpg"
                                alt="[CHƯƠNG TRÌNH TRAO ĐỔI] ĐIỂM MỚI TRONG DỰ THẢO LUẬT KINH DOANH BẢO HIỂM 2022"><span
                                class="item-time">22/04/2022 14:48:59</span></div>
                        <div class="item-description">
                            <h3 class="item-title">[CHƯƠNG TRÌNH TRAO ĐỔI] ĐIỂM MỚI TRONG DỰ THẢO LUẬT KINH DOANH BẢO
                                HIỂM 2022</h3>
                            <p class="item-text">[chương trình trao đổi] điểm mới trong dự thảo luật kinh doanh bảo hiểm
                                2022</p><a class="primary-btn" href="#">Xem chi tiết</a>
                        </div>
                    </li>
                    <li class="news-item">
                        <div class="item-image"><img src="img/news/news_img_02.jpg"
                                alt="Thông báo tiếp nhận hồ sơ bị từ chối bồi thường bởi Công ty MB Ageas life!"><span
                                class="item-time">22/04/2022 14:48:59</span></div>
                        <div class="item-description">
                            <h3 class="item-title">Thông báo tiếp nhận hồ sơ bị từ chối bồi thường bởi Công ty MB Ageas
                                life!</h3>
                            <p class="item-text">Thông báo tiếp nhận hồ sơ bị từ chối bồi thường bởi Công ty MB Ageas
                                life!</p><a class="primary-btn" href="#">Xem chi tiết</a>
                        </div>
                    </li>
                    <li class="news-item">
                        <div class="item-image"><img src="img/news/news_img_03.jpg"
                                alt="Bảo hiểm liên quan tới Covid vẫn nóng"><span class="item-time">22/04/2022
                                14:48:59</span></div>
                        <div class="item-description">
                            <h3 class="item-title">Bảo hiểm liên quan tới Covid vẫn nóng</h3>
                            <p class="item-text">Bảo hiểm liên quan tới Covid vẫn nóng</p><a class="primary-btn"
                                href="#">Xem chi tiết</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="news-block">
                <h2 class="block-title">Kiến thức</h2>
                <ul class="list-items">
                    <li class="news-item">
                        <div class="item-image"><img src="img/news/news_img_04.jpg"
                                alt="Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ"></div>
                        <div class="item-description">
                            <h3 class="item-title is-center">Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ</h3><a
                                class="primary-btn" href="#">Xem chi tiết</a>
                        </div>
                    </li>
                    <li class="news-item">
                        <div class="item-image"><img src="img/news/news_img_05.jpg"
                                alt="Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem"></div>
                        <div class="item-description">
                            <h3 class="item-title is-center">Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem
                            </h3><a class="primary-btn" href="#">Xem chi tiết</a>
                        </div>
                    </li>
                    <li class="news-item">
                        <div class="item-image"><img src="img/news/news_img_06.jpg"
                                alt="Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại website Vbaohiem"></div>
                        <div class="item-description">
                            <h3 class="item-title is-center">Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại
                                website Vbaohiem</h3><a class="primary-btn" href="#">Xem chi tiết</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-news-questions">
        <div class="wrapper">
            <ul class="questions-list">
                <li>
                    <h2 class="item-title">Các câu hỏi thường gặp</h2><a class="trans item-link"
                        href="tin-tuc-kien-thuc/cau-hoi"><img src="img/news/question_img_01.png"
                            alt="Các câu hỏi thường gặp"></a>
                </li>
                <li>
                    <h2 class="item-title">Đào tạo bảo hiểm</h2><a class="trans item-link"
                        href="tin-tuc-kien-thuc/dao-tao"><img src="img/news/question_img_02.png"
                            alt="Đào tạo bảo hiểm"></a>
                </li>
                <li>
                    <h2 class="item-title">Giải thích thuật ngữ</h2><a class="trans item-link"
                        href="tin-tuc-kien-thuc/thuat-ngu"><img src="img/news/question_img_03.png"
                            alt="Giải thích thuật ngữ"></a>
                </li>
            </ul>
        </div>
    </section>
</main>