<link rel="stylesheet" href="css/advise.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/dich-vu">Dịch vụ</a></li>
                <li><span>Dịch vụ bồi thường bảo hiểm xe cơ giới</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-advise-category is-service">
        <div class="wrapper">
            <h1 class="page-title is-black">Dịch vụ bồi thường bảo hiểm xe cơ giới</h1>
            <p class="advise-text">VICS – CORP giải đáp và tư vấn cho Quý Khách hàng tất cả các lĩnh vực liên quan đến
                bảo hiểm: tư vấn pháp lý khiếu kiện và giải quyết tranh chấp bồi thường bảo hiểm; giải pháp cho tranh
                chấp, khiếu kiện bảo hiểm; đại diện theo...</p>
            <ul class="category-list">dich-vu-danh-muc
                <li class="category-item">
                    <div class="item-image"><img src="img/service/category_img_01.jpg"
                            alt="Doanh nghiệp bảo hiểm căn cứ vào giấy xét nghiệp nồng độ cồn xét nghiệm vào ngày hôm sau của vụ tai nạn để từ chối bồi thường liệu có đúng?">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Doanh nghiệp bảo hiểm căn cứ vào giấy xét nghiệp nồng độ cồn xét nghiệm
                            vào ngày hôm sau của vụ tai nạn để từ chối bồi thường liệu có đúng?</h2>
                        <div class="item-description">
                            <p class="item-text">Được sự tin tưởng của khách hàng Vics-Corp đã đại diện để giải quyết
                                quyền lợi bảo hiểm cho xe ô tô của khách hàng gặp tổn thất vào tháng 04...</p><a
                                class="item-link" href="dich-vu-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item is-reverse">
                    <div class="item-image"><img src="img/service/category_img_02.jpg" alt="" Tranh chấp về số tiền bồi
                            thường trong bảo hiểm trách nhiệm dân sự bắt buộc của chủ xe cơ giới"></div>
                    <div class="item-content">
                        <h2 class="item-title">"Tranh chấp về số tiền bồi thường trong bảo hiểm trách nhiệm dân sự bắt
                            buộc của chủ xe cơ giới</h2>
                        <div class="item-description">
                            <p class="item-text">Trong thời gian vừa qua, VICS-CORP đã đại diện cho Khách hàng đàm phán
                                với DNBH về việc bồi thường bảo hiểm trách nhiệm dân sự xe ô tô. Xe ô tô của BKS: X xảy
                                ra va chạm với xe ô tô hiệu Porche Macan, lỗi 100% thuộc...</p><a class="item-link"
                                href="dich-vu-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item">
                    <div class="item-image"><img src="img/service/category_img_03.jpg"
                            alt="Hỗ trợ giải quyết bồi thường bảo hiểm trách nhiệm dân sự bắt buộc của chủ xe cơ giới - khó khăn ở đâu?">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Hỗ trợ giải quyết bồi thường bảo hiểm trách nhiệm dân sự bắt buộc của chủ
                            xe cơ giới - khó khăn ở đâu?</h2>
                        <div class="item-description">
                            <p class="item-text">Vừa qua, Vics-corp đã hỗ trợ Khách hàng yêu cầu bồi thường thiệt hại về
                                tài sản đối với bảo hiểm TNDS bắt buộc chủ XCG. Một thực tế đáng buồn là giám định viên
                                công ty X đã “mặc kệ” chủ xe tự thu thập hồ sơ công an,...</p><a class="item-link"
                                href="dich-vu-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item is-reverse">
                    <div class="item-image"><img src="img/service/category_img_04.jpg"
                            alt="Hợp đồng dịch vụ hỗ trợ giải quyết bồi thường bảo hiểm xe cơ giới: Tranh chấp về phương án bồi thường: Sửa chữa hay thay thế?">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Hợp đồng dịch vụ hỗ trợ giải quyết bồi thường bảo hiểm xe cơ giới: Tranh
                            chấp về phương án bồi thường: Sửa chữa hay thay thế?</h2>
                        <div class="item-description">
                            <p class="item-text"> Tóm tắt nội dung vụ việc: Anh Trần Đức Trường mua bảo hiểm tự nguyện
                                xe ô tô của Công ty Bảo hiểm H cho xe ô tô Mercedes-Benz, biển kiểm soát 21A. Giấy chứng
                                nhận bảo hiểm có hiệu lực từ ngày 06/12/2019 đến ngày 06/12/2020...</p><a
                                class="item-link" href="dich-vu-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item">
                    <div class="item-image"><img src="img/service/category_img_05.jpg"
                            alt="Hợp đồng dịch vụ hỗ trợ bồi thường bảo hiểm xe cơ giới - vụ việc tranh chấp về số tiền bồi thường bảo hiểm">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Hợp đồng dịch vụ hỗ trợ bồi thường bảo hiểm xe cơ giới - vụ việc tranh
                            chấp về số tiền bồi thường bảo hiểm</h2>
                        <div class="item-description">
                            <p class="item-text">Công ty V đã được cấp giấy chứng nhận bảo hiểm số 0133xxx/H4A/15, thời
                                hạn bảo hiểm từ ngày 16/6/2018 đến ngày 16/6/2019 cho xe ô tô BKS: 89C với giá trị của
                                xe là 900.000.000 đồng. Ngày 04/4/2019, xe ô tô BKS: 89C đã...</p><a class="item-link"
                                href="dich-vu-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>