<link rel="stylesheet" href="css/product.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><span>Sản phẩm bảo hiểm</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-product">
        <div class="wrapper">
            <h1 class="page-title">Sản phẩm bảo hiểm</h1>
            <div class="products-block">
                <h2 class="block-title">Sản phẩm bảo hiểm vật chất xe</h2>
                <div class="swiper js-product-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_01.jpg" alt="PTI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_02.jpg" alt="VNI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_03.jpg" alt="MIC"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_01.jpg" alt="PTI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_02.jpg" alt="VNI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_03.jpg" alt="MIC"></div>
                            </a></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="products-block">
                <h2 class="block-title">Sản phẩm bảo hiểm nhân thọ</h2>
                <div class="swiper js-product-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_01.jpg" alt="PTI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_02.jpg" alt="VNI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_03.jpg" alt="MIC"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_01.jpg" alt="PTI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_02.jpg" alt="VNI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_03.jpg" alt="MIC"></div>
                            </a></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="products-block">
                <h2 class="block-title">Sản phẩm bảo hiểm sức khỏe</h2>
                <div class="swiper js-product-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_01.jpg" alt="PTI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_02.jpg" alt="VNI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_03.jpg" alt="MIC"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_01.jpg" alt="PTI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_02.jpg" alt="VNI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_03.jpg" alt="MIC"></div>
                            </a></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="products-block">
                <h2 class="block-title">Sản phẩm bảo hiểm khác</h2>
                <div class="swiper js-product-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_01.jpg" alt="PTI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_02.jpg" alt="VNI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_03.jpg" alt="MIC"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_01.jpg" alt="PTI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_02.jpg" alt="VNI"></div>
                            </a></div>
                        <div class="swiper-slide"><a class="slide-item" href="/san-pham-bao-hiem/chi-tiet">
                                <h3 class="item-title">PTI</h3>
                                <div class="item-image"><img src="img/product/slider_img_03.jpg" alt="MIC"></div>
                            </a></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </section>
</main>