<link rel="stylesheet" href="css/advise.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/tu-van">Tư vấn</a></li>
                <li><span>Tư vấn bảo hiểm con người</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-detail">
        <div class="wrapper">
            <h1 class="detail-title">"Nữ giới tham gia bảo hiểm hãy tham khảo Bảo Việt!"</h1>
            <div class="detail-content">
                <div class="detail-image"><img src="img/detail/detail_img_01.jpg"
                        alt="Nữ giới tham gia bảo hiểm hãy tham khảo Bảo Việt!"></div>
                <p class="detail-description">Con người là hoa của đất và phụ nữ là hương hoa của cuộc đời. Ngoài đặc ân
                    là phái đẹp, tạo hóa đã ban cho người phụ nữ một thiên chức vô cùng quan trọng và cao quý là làm vợ,
                    làm mẹ. Để bạn luôn tự hào và hãnh diện khi được tạo hóa ban cho đặc ân, giao cho một trọng trách vô
                    cùng quan trọng và cao quý ấy - bạn hãy chủ động tạo cho mình một cuộc sống vui về tinh thần và khỏe
                    mạnh về thể chất.<br>Sản phẩm bổ trợ An Tâm Toàn Mỹ của Bảo Việt Nhân thọ với các quyền lợi bảo vệ
                    và chăm sóc toàn diện sẽ giúp bạn sống vui, sống khỏe để làm tròn những trọng trách của người phụ nữ
                    với gia đình, và của chính bạn khi là phái đẹp của cuộc sống.<br>Sự chăm sóc và bảo vệ sức khỏe toàn
                    diện dành cho phụ nữ với các quyền lợi bảo hiểm cho 8 bệnh ung thư phụ nữ, 36 bệnh lý nghiêm trọng,
                    7 bệnh biến chứng sản khoa và 597 loại phẫu thuật và điều trị ngoại khoa mở rộng.<br>• Phạm vi bảo
                    hiểm và mức trách nhiệm thiết thực với phụ nữ: 30% Số tiền bảo hiểm sẽ được chi trả nếu chẳng may
                    mắc phải một trong 8 Bệnh ung thư phụ nữ; 100% Số tiền bảo hiểm được thanh toán nếu chẳng may mắc
                    phải 1 trong 36 Bệnh lý nghiêm trọng; 100% Số tiền bảo hiểm được chi trả nếu chẳng may chẩn đoán mắc
                    1 trong 7 Biến chứng sản khoa; Quyền lợi chi trả theo Bảng tỷ lệ trả tiền bảo hiểm với 597 trường
                    hợp nếu chẳng may phải phẫu thuật và/hoặc điều trị ngoại khoa.<br>Tiết kiệm lớn cho những dự định
                    quan trọng trong tương lai Khi kết hợp sản phẩm bổ trợ này với Hợp đồng chính, Bạn và gia đình vẫn
                    có được một kế hoạch tài chính hoàn hảo cho những dự định, kế hoạch lớn trong tương lai khi nhận
                    Quyền lợi đáo hạn của Hợp đồng chính, như mua nhà đẹp, cho con đi du học,…<br>• Tham gia linh
                    hoạt<br>Có thể tham gia sản phẩm cùng lúc với Hợp đồng chính hoặc sau khi Hợp đồng chính đã có hiệu
                    lực. Phí tham gia được miễn nếu Bạn tham gia sản phẩm cùng thời điểm với Hợp đồng chính.<br>• Được
                    bảo hiểm liên tục<br>Với mức phí bảo hiểm rất hợp lý, Bạn được tự động tiếp tục bảo hiểm hàng năm
                    theo các quy định của Bảo Việt Nhân thọ và Bạn sẽ yên tâm với sự bảo vệ liên tục này.<br>Ngoài ra,
                    Bạn có thể gia tăng quyền lợi chăm sóc y tế toàn diện hơn khi kết hợp tham gia các sản phẩm bổ trợ
                    khác như Quyền lợi bảo hiểm trợ cấp nằm viện,<br><br>Đây là 1 trong 2 sản phẩm <strong>Bổ trợ trên
                        thị trường bảo hiểm dành riêng cho Phụ nữ </strong>vì vậy Phạm vi bảo hiểm và Quyền lợi thực sự
                    độc đáo, còn chần chờ gì mà chưa thử vậy các Chị em!<br><br><strong>Nhóm lửa cuộc thi
                        viết:</strong><br>Cuộc thi viết về tư vấn, so sánh, đánh giá bảo hiểm đã hết ½ thời gian nhưng
                    chưa có sĩ tử nào tham gia ứng thi. Một phần vì dịch dã lan rộng khắp nơi, tinh thần sĩ tử xao
                    nhãng, một phần vì những người quan tâm định viết chưa rõ bài viết nó sẽ dưới dạng như thế nào. Ngày
                    hôm nay tôi xin mạn phép góp một bài để “Mở hàng” cho cuộc thi được diễn ra sôi động và ý nghĩa. Bài
                    viết này của tôi chỉ mang tính chất tham khảo cho các thành viên tham gia cuộc thi, không phải là
                    bài dự thi. Mời các bạn tham gia vào một cuộc thi mang nhiều ý nghĩa này, thời gian còn 14 ngày và
                    giải thưởng có rất nhiều, cứ tham gia là có giải nhé các bạn.Thanks!<br><br>Link bài viết giới thiệu
                    cuộc thi: <a target="_blank"
                        href="https://www.facebook.com/.../permalink/517917736154799'">https://www.facebook.com/.../permalink/517917736154799</a>
                </p>
            </div>
        </div>
    </section>
    <section class="section-detail-slider">
        <div class="wrapper">
            <h2 class="slider-title">Tư vấn liên quan</h2>
            <div class="swiper js-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
</main>