<link rel="stylesheet" href="css/advise.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/tu-van">Tư vấn</a></li>
                <li><span>Tư vấn BH con người</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-advise-category">
        <div class="wrapper">
            <h1 class="page-title is-black">Tư vấn bảo hiểm con người</h1>
            <ul class="category-list">
                <li class="category-item">
                    <div class="item-image"><img src="img/advise/category_img_01.jpg" alt="" Nữ giới tham gia bảo hiểm
                            hãy tham khảo Bảo Việt!""></div>
                    <div class="item-content">
                        <h2 class="item-title">"Nữ giới tham gia bảo hiểm hãy tham khảo Bảo Việt!"</h2>
                        <div class="item-description">
                            <p class="item-text">Con người là hoa của đất và phụ nữ là hương hoa của cuộc đời. Ngoài đặc
                                ân là phái đẹp, tạo hóa đã ban cho người phụ nữ một thiên chức vô cùng quan trọng và cao
                                quý là làm vợ, làm mẹ. Để bạn luôn tự hào và hãnh diện khi...</p><a class="item-link"
                                href="/tu-van-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item is-reverse">
                    <div class="item-image"><img src="img/advise/category_img_02.jpg" alt="" Con gà đẻ trứng vàng" của
                            Manulife!"></div>
                    <div class="item-content">
                        <h2 class="item-title">"Con gà đẻ trứng vàng" của Manulife!</h2>
                        <div class="item-description">
                            <p class="item-text">Chắc nghe qua tiêu đề bài viết các bạn đã đoán được tôi muốn nói đến
                                sản phẩm nào, vâng đó chính là sản phầm "Điểm tựa đầu tư của Manulife". Chúng ta cùng
                                nhau tìm hiểu xem sản phẩm đầu tư này có những điểm gì độc đáo...</p><a
                                class="item-link" href="/tu-van-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item">
                    <div class="item-image"><img src="img/advise/category_img_03.jpg" alt="" Phú Hưng life với sản phẩm
                            Bệnh hiểm nghèo có mức chi trả tối đa 300% số tiền bảo hiểm cao nhất thị trường"">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">"Phú Hưng life với sản phẩm Bệnh hiểm nghèo có mức chi trả tối đa 300% số
                            tiền bảo hiểm cao nhất thị trường"</h2>
                        <div class="item-description">
                            <p class="item-text">Phú Hưng life được thành lập năm 2013 và là Công ty cổ phần đầu tiên
                                hoạt động trong lĩnh vực bảo hiểm Phú Hưng life phấn đấu trở thành công ty bảo hiểm Nhân
                                thọ được ưu thích tại Việt Nam; được khách hàng tín nhiệm và...</p><a class="item-link"
                                href="/tu-van-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item is-reverse">
                    <div class="item-image"><img src="img/advise/category_img_04.jpg" alt="Prudential " Luôn luôn lắng
                            nghe - Luôn luôn thấu hiểu"!"></div>
                    <div class="item-content">
                        <h2 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h2>
                        <div class="item-description">
                            <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với câu
                                slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài trên khắp
                                mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a class="item-link"
                                href="/tu-van-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item">
                    <div class="item-image"><img src="img/advise/category_img_05.jpg"
                            alt="Chú ngựa trong ngành bảo hiểm nhân thọ " MB Ageas life"!"></div>
                    <div class="item-content">
                        <h2 class="item-title">Chú ngựa trong ngành bảo hiểm nhân thọ "MB Ageas life"!</h2>
                        <div class="item-description">
                            <p class="item-text">Bài viết này xin giới thiệu với các bạn về sản phẩm của Công ty MB
                                Ageas life, tôi đã phân vân khi lựa chọn giữa Sản phẩm Liên kết chung "Vững tương lai"
                                với STBH có thể lên đến 142 lần phí bảo hiểm, mức khởi đầu chỉ 6tr VNĐ...</p><a
                                class="item-link" href="/tu-van-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item is-reverse">
                    <div class="item-image"><img src="img/advise/category_img_06.jpg" alt="" VITA - Đầu tư như ý" Duy
                            nhất tại thị trường 4 lựa chọn STBH cùng 1 mức phí!"></div>
                    <div class="item-content">
                        <h2 class="item-title">"VITA - Đầu tư như ý" Duy nhất tại thị trường 4 lựa chọn STBH cùng 1 mức
                            phí!</h2>
                        <div class="item-description">
                            <p class="item-text">Khi tham gia sản phẩm này Khách hàng được quyền lựa chọn 4 mức bảo vệ:
                                50% STBH; 100% STBH; 150% STBH; 200% STBH để có thể chủ động hơn về dòng tiền, nhu cầu
                                bảo vệ của Bản thân. Một số quyền lợi của sản phẩm như sau: -...</p><a class="item-link"
                                href="/tu-van-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item">
                    <div class="item-image"><img src="img/advise/category_img_07.jpg"
                            alt="“Những Khách hàng không hút thuốc lá nên lựa chọn AIA”"></div>
                    <div class="item-content">
                        <h2 class="item-title">“Những Khách hàng không hút thuốc lá nên lựa chọn AIA”</h2>
                        <div class="item-description">
                            <p class="item-text">Trên mỗi vỏ bao thu.ốc đều có dòng chữ :”hút thu.ốc lá có hại cho sức
                                khoẻ” “Hút thu.ốc l.á dẫn đến Ung thư phổi” và vô số hình ảnh nêu lên tác hại của Thu.ốc
                                l.á trên bao bì của bao thu.ốc. Những người hút thu.ốc thường...</p><a class="item-link"
                                href="/tu-van-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="category-item is-reverse">
                    <div class="item-image"><img src="img/advise/category_img_08.jpg"
                            alt="Thói quen “uống rượu - bia, hút thuốc” trong HSYCBH có cần thiết kê khai?"></div>
                    <div class="item-content">
                        <h2 class="item-title">Thói quen “uống rượu - bia, hút thuốc” trong HSYCBH có cần thiết kê khai?
                        </h2>
                        <div class="item-description">
                            <p class="item-text">Tôi không nói xấu gì người Việt Nam nhưng đúng là có nhiều thói quen
                                chúng ta xấu thật các bạn ạ. Ai đời dân số 100tr người và tỷ lệ trung bình người trên 15
                                tuổi uống 9 lít cồn nguyên chất/1 năm. Nếu so sánh với các nước có...</p><a
                                class="item-link" href="/tu-van-danh-muc-chi-tiet">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>