<link rel="stylesheet" href="css/connect.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><span>Kết nối tư vấn viên</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-connect">
        <div class="wrapper">
            <h1 class="page-title">Kết nối tư vấn viên</h1>
            <aside class="connect-aside">
                <h2 class="aside-title">Gợi ý</h2>
                <ul class="aside-list">
                    <li><a href="#">LÊ HOÀNG SƠN</a></li>
                    <li><a href="#">BÙI DUY NĂM</a></li>
                    <li><a href="#">VŨ SANG</a></li>
                    <li><a href="#">ĐINH QUANG SÂM</a></li>
                    <li><a href="#">LÊ THỊ HÀ</a></li>
                    <li><a href="#">TRỊNH THỊ LỆ</a></li>
                    <li><a href="#">NGUYỄN ĐÌNH PHƯỢNG</a></li>
                    <li><a href="#">NGUYỄN THẾ KIÊN</a></li>
                    <li><a href="#">HUỲNH LINH QUÝ HÒA</a></li>
                    <li><a href="#">LÊ THỊ HIỀN</a></li>
                    <li><a href="#">TRẦN LÊ CẨM VÂN</a></li>
                    <li><a href="#">HÀ ANH TUẤN</a></li>
                    <li><a href="#">NGUYỄN HƯƠNG GIANG</a></li>
                    <li><a href="#">TRẦN VĂN LONG</a></li>
                    <li><a href="#">NGUYỄN NGỌC CƯỜNG</a></li>
                    <li><a href="#">LÊ VĂN VINH</a></li>
                    <li><a href="#">TRƯƠNG THỊ THU HƯỜNG</a></li>
                    <li><a href="#">NGUYỄN TẤT TOÀN</a></li>
                    <li><a href="#">TRỊNH KHẮC TUYÊN</a></li>
                </ul>
            </aside>
            <div class="connect-content">
                <form class="content-form">
                    <div class="form-item">
                        <select class="form-select" id="job" name="job">
                            <option value="dai-ly">Đại lý</option>
                            <option value="tu-van-vien">Tư vấn viên</option>
                            <option value="can-bo">Cán bộ DNBH</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <select class="form-select" id="job" name="job">
                            <option value="dai-ly">Lĩnh vực hoạt động</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <select class="form-select" id="job" name="job">
                            <option value="dai-ly">Khu vực</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <button class="form-submit" type="submit">Tìm kiếm</button>
                    </div>
                </form>
                <div class="content-result">
                    <div class="result-image"><img src="img/connect/connect_img.jpg" alt="LÊ HOÀNG SƠN"></div>
                    <div class="result-detail">
                        <h3 class="detail-title">LÊ HOÀNG SƠN</h3>
                        <ul class="detail-list">
                            <li>
                                <p class="item-label">Quá trình hoạt động</p>
                                <p class="item-text">Công ty bảo hiểm bưu điện Âu Lạc</p>
                            </li>
                            <li>
                                <p class="item-label">Lĩnh vực hoạt động</p>
                                <p class="item-text">Phi nhân thọ</p>
                            </li>
                            <li>
                                <p class="item-label">Công việc</p>
                                <p class="item-text">Cán bộ DNBH</p>
                            </li>
                            <li>
                                <p class="item-label">Khu vực</p>
                                <p class="item-text">Trung Hoà Nhân Chính, Thanh Xuân , Hà Nội</p>
                            </li>
                            <li>
                                <p class="item-label">Liên hệ</p>
                                <p class="item-text">989.292.565 | Sonlh_aulac@pti.com.vn</p>
                            </li>
                        </ul><a class="detail-link trans" href="#">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="block-iframe">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.056903694606!2d105.84301631533172!3d20.990355994463204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac694a7a6ced%3A0x5e165ccee3c9bac3!2zNjggUC4gTmd1eeG7hW4gQW4gTmluaCwgVMawxqFuZyBNYWksIEhvw6BuZyBNYWksIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1664440444118!5m2!1sen!2s"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>