<link rel="stylesheet" href="css/advise.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><span>Dịch vụ</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-advise">
        <div class="wrapper">
            <h1 class="page-title">Dịch vụ</h1>
            <p class="advise-text">VICS – CORP với phương châm Uy tín – Tậm tâm – Tiện ích sẽ luôn cố gắng giữ vững vị
                trí tiên phong trong lĩnh vực Dịch vụ bảo hiểm toàn diện tại Việt Nam, để Quý Khách hàng có thể nhanh
                chóng vượt qua rủi ro gặp phải trong cuộc sống, đảm bảo quyền lợi chính đáng của Quý Khách hang khi tham
                gia Bảo hiểm.</p>
            <ul class="products-list">
                <li class="product-item">
                    <div class="item-image"><img src="img/service/service_img_01.jpg"
                            alt="Dịch vụ bồi thường bảo hiểm xe cơ giới"></div>
                    <div class="item-content">
                        <h2 class="item-title">Dịch vụ bồi thường bảo hiểm xe cơ giới</h2>
                        <div class="item-description">
                            <p class="item-text">VICS – CORP giải đáp và tư vấn cho Quý Khách hàng tất cả các lĩnh vực
                                liên quan đến bảo hiểm: tư vấn pháp lý khiếu kiện và giải quyết tranh chấp bồi thường
                                bảo hiểm; giải pháp cho tranh chấp, khiếu kiện bảo hiểm; đại diện theo...</p><a
                                class="item-link" href="/dich-vu/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item is-reverse">
                    <div class="item-image"><img src="img/service/service_img_02.jpg"
                            alt="Dịch vụ bồi thường bảo hiểm sức khỏe"></div>
                    <div class="item-content">
                        <h2 class="item-title">Dịch vụ bồi thường bảo hiểm sức khỏe</h2>
                        <div class="item-description">
                            <p class="item-text">Dịch vụ giải quyết bồi thường bảo hiểm của Chúng tôi được thiết lập như
                                một dịch vụ chuyên biệt cung cấp cho các khách hàng đã, đang và sẽ có thể sẽ gặp khó
                                khăn trong việc giải quyết các khiếu kiện bảo hiểm, tranh chấp...</p><a
                                class="item-link" href="#">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="item-image"><img src="img/service/service_img_03.jpg"
                            alt="Dịch vụ bồi thường bảo hiểm tài sản"></div>
                    <div class="item-content">
                        <h2 class="item-title">Dịch vụ bồi thường bảo hiểm tài sản</h2>
                        <div class="item-description">
                            <p class="item-text">VICS – CORP giải đáp và tư vấn cho Quý Khách hàng tất cả các lĩnh vực
                                liên quan đến bảo hiểm: tư vấn pháp lý khiếu kiện và giải quyết tranh chấp bồi thường
                                bảo hiểm; giải pháp cho tranh chấp, khiếu kiện bảo hiểm; đại diện theo...</p><a
                                class="item-link" href="/dich-vu/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item is-reverse">
                    <div class="item-image"><img src="img/service/service_img_04.jpg"
                            alt="Dịch vụ bồi thường bảo hiểm hàng hải"></div>
                    <div class="item-content">
                        <h2 class="item-title">Dịch vụ bồi thường bảo hiểm hàng hải</h2>
                        <div class="item-description">
                            <p class="item-text">VICS – CORP giải đáp và tư vấn cho Quý Khách hàng tất cả các lĩnh vực
                                liên quan đến bảo hiểm: tư vấn pháp lý khiếu kiện và giải quyết tranh chấp bồi thường
                                bảo hiểm; giải pháp cho tranh chấp, khiếu kiện bảo hiểm; đại diện theo...</p><a
                                class="item-link" href="/dich-vu/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="item-image"><img src="img/service/service_img_05.jpg"
                            alt="Dịch vụ bồi thường bảo hiểm nhân thọ"></div>
                    <div class="item-content">
                        <h2 class="item-title">Dịch vụ bồi thường bảo hiểm nhân thọ</h2>
                        <div class="item-description">
                            <p class="item-text">VICS – CORP giải đáp và tư vấn cho Quý Khách hàng tất cả các lĩnh vực
                                liên quan đến bảo hiểm: tư vấn pháp lý khiếu kiện và giải quyết tranh chấp bồi thường
                                bảo hiểm; giải pháp cho tranh chấp, khiếu kiện bảo hiểm; đại diện theo...</p><a
                                class="item-link" href="/dich-vu/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item is-reverse">
                    <div class="item-image"><img src="img/service/service_img_06.jpg" alt="Đánh giá rủi ro bảo hiểm">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Đánh giá rủi ro bảo hiểm</h2>
                        <div class="item-description">
                            <p class="item-text">VICS – CORP giải đáp và tư vấn cho Quý Khách hàng tất cả các lĩnh vực
                                liên quan đến bảo hiểm: tư vấn pháp lý khiếu kiện và giải quyết tranh chấp bồi thường
                                bảo hiểm; giải pháp cho tranh chấp, khiếu kiện bảo hiểm; đại diện theo...</p><a
                                class="item-link" href="/dich-vu/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="item-image"><img src="img/service/service_img_07.jpg" alt="Giám định tổn thất bảo hiểm">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Giám định tổn thất bảo hiểm</h2>
                        <div class="item-description">
                            <p class="item-text">VICS – CORP giải đáp và tư vấn cho Quý Khách hàng tất cả các lĩnh vực
                                liên quan đến bảo hiểm: tư vấn pháp lý khiếu kiện và giải quyết tranh chấp bồi thường
                                bảo hiểm; giải pháp cho tranh chấp, khiếu kiện bảo hiểm; đại diện theo...</p><a
                                class="item-link" href="/dich-vu/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>