<link rel="stylesheet" href="css/detail.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/tin-tuc-kien-thuc">Tin tức - Kiến thức</a></li>
                <li><a href="/tin-tuc-kien-thuc/tin-tuc">Tin tức</a></li>
                <li><span>[Chương trình trao đổi]...</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-detail">
        <div class="wrapper">
            <h1 class="detail-title">[CHƯƠNG TRÌNH TRAO ĐỔI] ĐIỂM MỚI TRONG DỰ THẢO LUẬT KINH DOANH BẢO HIỂM 2022</h1>
            <div class="detail-content">
                <p class="detail-description">Dự thảo luật kinh doanh bảo hiểm 2022 đã được Quốc hội thông qua và sẽ có
                    hiệu lực thi hành năm 2023.<br>Công ty Cổ phần Tư vấn Dịch vụ Bảo hiểm Việt Nam (VICS-CORP) hân hạnh
                    tổ chức chương trình trao đổi: “Điểm mới trong Dự thảo luật kinh doanh bảo hiểm 2022" với mong muốn
                    chia sẻ nghiên cứu của chúng tôi về những điểm mới của dự thảo luật kinh doanh bảo hiểm và tác động
                    tới hoạt động đại lý bảo hiểm.<br><br>Thông tin chương trình:<br>Nội dung chương trình:<br>- So sánh
                    luật kinh doanh bảo hiểm cũ và mới, phân tích những điểm mới, điểm ưu việt và hạn chế trong luật
                    KDBH 2022 mới;<br>- Những ảnh hưởng của Luật KDBH mới tới hoạt động Đại lý bảo hiểm.<br>Thời gian:
                    20h00 – 22h00, Thứ Ba ngày 12/07/2022.<br>Hình thức: Trực tuyến qua Zoom và Livestream trên Fanpage
                    Tư vấn dịch vụ bảo hiểm Việt Nam.<br>Đăng ký tham gia và theo dõi tại:<br>- Group zalo:
                    https://zalo.me/g/cxgllj214<br>- Fanpage:
                    https://www.facebook.com/tuvandichvubaohiemVietNam<br>___<br>Thông tin chi tiết liên hệ:<br>Công ty
                    Cổ phần Tư vấn Dịch vụ Bảo hiểm Việt Nam<br>Hotline: 1900.9889.65 / 0984405898<br>Website:
                    vics-corp.com<br>Địa chỉ: Số 5a/579 Lạc Long Quân, Xuân La, Tây Hồ, Hà Nội.<br></p>
            </div>
        </div>
    </section>
    <section class="section-detail-slider">
        <div class="wrapper">
            <h2 class="slider-title">Bài viết liên quan</h2>
            <div class="swiper js-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-item">
                            <div class="item-image"><img src="img/detail/slider_img_01.jpg"
                                    alt="Prudential &quot;Luôn luôn lắng nghe - Luôn luôn thấu hiểu&quot;!"></div>
                            <div class="item-detail">
                                <h3 class="item-title">Prudential "Luôn luôn lắng nghe - Luôn luôn thấu hiểu"!</h3>
                                <p class="item-text">Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn Pruden.tial" với
                                    câu slogan đi vào trái tim của Khách hàng và mạng lưới Pruden.tial đã từng phủ dài
                                    trên khắp mảnh đất hình chữ S. Riêng với Pruden.tial...</p><a
                                    class="item-link primary-btn" href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
</main>