<link rel="stylesheet" href="css/advise.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><span>Tư vấn</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-advise">
        <div class="wrapper">
            <h1 class="page-title">Tư vấn</h1>
            <ul class="products-list">
                <li class="product-item">
                    <div class="item-image"><img src="img/advise/advise_img_01.jpg" alt="Tư vấn chung về bảo hiểm">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Tư vấn chung về bảo hiểm</h2>
                        <div class="item-description">
                            <p class="item-text">Không ít người nghĩ rằng, quá trình yêu cầu bồi thường bảo hiểm là khi
                                Công ty Bảo hiểm đồng ý chi trả tiền bảo hiểm đến người mua bảo hiểm. Trên thực tế thì
                                dù đã đồng ý bồi thường cho người mua bảo hiểm, thậm chí yêu...</p><a class="item-link"
                                href="/tu-van/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item is-reverse">
                    <div class="item-image"><img src="img/advise/advise_img_02.jpg" alt="Tư vấn bảo hiểm con người">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Tư vấn bảo hiểm con người</h2>
                        <div class="item-description">
                            <p class="item-text">Dịch vụ giải quyết bồi thường bảo hiểm của Chúng tôi được thiết lập như
                                một dịch vụ chuyên biệt cung cấp cho các khách hàng đã, đang và sẽ có thể sẽ gặp khó
                                khăn trong việc giải quyết các khiếu kiện bảo hiểm, tranh chấp...</p><a
                                class="item-link" href="/tu-van/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="item-image"><img src="img/advise/advise_img_03.jpg" alt="Tư vấn bảo hiểm xe cơ giới">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Tư vấn bảo hiểm xe cơ giới</h2>
                        <div class="item-description">
                            <p class="item-text">Khi phải tham gia tranh tụng bảo hiểm xe ô tô, tìm đến sự tư vấn của
                                các chuyên gia giàu kinh nghiệm sẽ giúp bạn đảm bảo quyền lợi của mình và hạn chế rủi
                                ro. Tuy nhiên, không phải ai cũng biết cách lựa chọn nguồn tư vấn tranh...</p><a
                                class="item-link" href="/tu-van/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
                <li class="product-item is-reverse">
                    <div class="item-image"><img src="img/advise/advise_img_04.jpg" alt="Tư vấn bảo hiểm tài sản">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title">Tư vấn bảo hiểm tài sản</h2>
                        <div class="item-description">
                            <p class="item-text">Hiện nay, những vụ hỏa hoạn, cháy nổ gây hậu quả nghiêm trọng xảy ra
                                ngày càng nhiều. Khi sự cố cháy nổ xảy ra, thiệt hại về vật chất sẽ được san sẻ nếu như
                                các bạn tham gia bảo hiểm cháy nổ bắt buộc. Tuy nhiên, nếu không...</p><a
                                class="item-link" href="/tu-van/danh-muc">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>