<link rel="stylesheet" href="css/about.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><span>Về chúng tôi</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-about">
        <div class="wrapper">
            <h1 class="page-title">Về chúng tôi</h1>
            <ul class="list-items">
                <li class="item">
                    <div class="item-image"><img src="img/about/about_img_01.jpg" alt="GIỚI THIỆU VỀ WEB: V-BẢO HIỂM">
                    </div>
                    <div class="item-detail">
                        <div class="detail-inner">
                            <h2 class="item-title">GIỚI THIỆU VỀ WEB: V-BẢO HIỂM</h2>
                            <p class="item-text">Web so sánh bảo hiểm V-Bảo hiểm ra đời với mục đích đem đến cho người
                                cái nhìn tổng quan nhất về các sản</p><a class="item-link"
                                href="/ve-chung-toi/chi-tiet">Xem chi tiết</a>
                        </div>
                    </div>
                </li>
                <li class="item is-reverse">
                    <div class="item-image"><img src="img/about/about_img_02.jpg" alt="LỢI ÍCH CỦA WEB"></div>
                    <div class="item-detail">
                        <div class="detail-inner">
                            <h2 class="item-title">LỢI ÍCH CỦA WEB</h2>
                            <p class="item-text">Bạn muốn mua bảo hiểm nhân thọ, bảo hiểm sức khỏe hay bảo hiểm vật chất
                                xe ô tô. Bạn đang phân vân</p><a class="item-link" href="/ve-chung-toi/chi-tiet">Xem
                                chi tiết</a>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-image"><img src="img/about/about_img_03.jpg" alt="NGUYÊN TẮC HOẠT ĐỘNG CỦA WEB">
                    </div>
                    <div class="item-detail">
                        <div class="detail-inner">
                            <h2 class="item-title">NGUYÊN TẮC HOẠT ĐỘNG CỦA WEB</h2>
                            <p class="item-text">V-Bảo hiểm là trang thông tin so sánh các loại hình sản phẩm bảo hiểm
                                hiện có trên thị trường bảo hiểm Việt</p><a class="item-link"
                                href="/ve-chung-toi/chi-tiet">Xem chi tiết</a>
                        </div>
                    </div>
                </li>
                <li class="item is-reverse">
                    <div class="item-image"><img src="img/about/about_img_04.jpg" alt="ĐIỀU KIỆN, ĐIỀU KHOẢN WEB">
                    </div>
                    <div class="item-detail">
                        <div class="detail-inner">
                            <h2 class="item-title">ĐIỀU KIỆN, ĐIỀU KHOẢN WEB</h2>
                            <p class="item-text">Điều kiện và điều khoản là nội dung thỏa thuận giữa người dùng và chúng
                                tôi nhằm làm rõ cách thức vận</p><a class="item-link" href="/ve-chung-toi/chi-tiet">Xem
                                chi tiết</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>