<link rel="stylesheet" href="css/contact.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><span>Liên hệ</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-contact">
        <div class="wrapper">
            <h1 class="page-title">THÔNG TIN LIÊN HỆ VIAS - CORP</h1>
            <p class="contact-text">Mọi thắc mắc / câu hỏi và yêu cầu về các thông tin khóa học/ tư vấn khóa học/ tuyển
                dụng nhân sự<br>Xin gửi theo địa chỉ sau:</p>
            <div class="contact-detail">
                <div class="detail-iframe"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.120703616967!2d105.8087812152679!3d21.06784078597713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aae60cede021%3A0xddac3fb27ef46656!2zNWEsIDU3OSBM4bqhYyBMb25nIFF1w6JuLCBYdcOibiBMYSwgVMOieSBI4buTLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1664425312758!5m2!1sen!2s"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                <ul class="detail-list">
                    <li>
                        <p class="item-label"><span><img src="img/contact/ico_email.svg" alt="Email"></span>Email</p>
                        <p class="item-text">Contact@vics-corp.com</p>
                    </li>
                    <li>
                        <p class="item-label"><span><img src="img/contact/ico_website.svg" alt="Website"></span>Website
                        </p>
                        <p class="item-text">https://vics-corp.com</p>
                    </li>
                    <li>
                        <p class="item-label"><span><img src="img/contact/ico_address.svg" alt="Địa chỉ"></span>Địa
                            chỉ</p>
                        <p class="item-text">5A/579 Lạc Long Quân</p>
                    </li>
                    <li>
                        <p class="item-label"><span><img src="img/contact/ico_tel.svg" alt="Số điện thoại"></span>Số
                            điện thoại</p>
                        <p class="item-text">1900.9889.65</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-register-common is-contact">
        <div class="wrapper">
            <div class="wrapper-inner">
                <h2 class="register-title">Hoặc đăng ký e-mail của bạn tại đây và gửi kèm theo câu hỏi/yêu cầu<br>Chúng
                    tôi sẽ gửi mail trả lời bạn ngay khi có thể.</h2>
                <form class="form-register">
                    <div class="form-row">
                        <input class="form-input" type="text" placeholder="Họ tên">
                    </div>
                    <div class="form-row">
                        <input class="form-input" type="text" placeholder="SĐT">
                    </div>
                    <div class="form-row">
                        <input class="form-input" type="text" placeholder="E-mail">
                    </div>
                    <div class="form-row">
                        <textarea class="form-input is-textarea" type="text"
                            placeholder="Câu hỏi/ thắc mắc của bạn dành cho chúng tôi"></textarea>
                    </div>
                    <div class="form-row">
                        <button class="form-submit primary-btn" type="submit">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>